html{
box-sizing: border-box;
background-color:white;
  }
*
{
  margin: 0;
  }

  header  {
    box-sizing: border-box;
height: 100px;
  background-color: #F2F2F2;
  padding: 50px;

    }
    #titulo1
    {
      font-size: 25px;

    }
    #titulo2
    {
      font-size: 20px;
    }

/*navegation*/
nav{
background-color: white;


  }

  .table1{
    border-collapse: collapse;
    }
 .table2 {
        border: 1px solid black;
          font-size: 20px;
    }
  .table3 {
           border: 1px solid black;
             font-size: 20px;
             background-color: #F2F2F2;
       }

/*Cuerpo*/

.cuerpo
{
background-color: white;

}

h1{
margin: 0;
padding: 30px;
}


body{
background-color: white;
  }

/*body*/

.table4{
  box-sizing: border-box;
  border-collapse: collapse;
  margin: 5em 4em 3em 2em;
}

.table5 {
  box-sizing: border-box;
      border: 1px solid black;
        font-size: 80px;

}
